* {
  margin: 0;
  padding: 0;
  overflow: none;
  font-family: "Trebuchet MS", sans-serif;
}

div.container {
  padding: 45px 70px;
}

a, u, ul, li {
  all: unset;
  padding-left: 0;
}

main {
  background: #e6e6e6;
}

.inner-container {
  padding: 30px 30px 30px 30px;
  background: white;
}

h2, h3 {
  font-family: "Times New Roman", sans-serif;
}

div.header-container {
  padding: 35px 70px 20px 70px;
}

li {
  display: inline;
}

div.seperator {
  height: 1px;
  background: #717171;
  padding: 0px 0px;
}

div.seperator-vertical {
  display: inline-block;
  width: 1px;
  height: 10px;
  border-right: 1px solid white;
  padding: 1px;
  margin-bottom: -1px;
}

div.seperator-white-space {
  display: inline-block;
  width: 5px;
  height: 100%;
}

textarea, input, button,
textarea:focus, input:focus, button:focus {
  outline: none;
}

li {
  cursor: pointer;
}

button#submit {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background: #d3135a;
}

main div {
  background: #e6e6e6;
}

div#brand-name {
  display: inline;
}

div#brand-name h1 {
  margin-bottom: -20px;
}

div#brand-name h1 {
  color: #ffc2dd;
  font-size: 59px;
  font-family: "Trebuchet MS Bold", sans-serif;
  font-weight: bold;
}

nav.main-links {
  font-size: 20px;
  color: #ffffff;
  float: right;
  margin-top: -15px;
}

nav.mini-links {
  font-size: 14px;
  float: right;
  margin-top: -10px;
}

section {
  display: inline-block;
  max-width: 70%;
}

section h3 {
  font-size: 24px;
}

article {
  margin-bottom: 20px;
}

h2.main-headline {
  font-size: 37px;
}

article p {
  padding: 10px 0;
}

div.section-two-culumns {
  column-count: 2;
}

div.section-two-culumns div {
  display: block;
}

div.section-two-culumns div ul li {
  display: inline-block;
}

ul.main-section-links li {
  padding: 10px 0px;
  color: #0071bc;
}

aside {
  float: right;
  max-width: 26%;
  padding: 0px 10px;
}

aside h3 {
  font-size: 24px;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}

aside p {
  padding-top: 15px;
  padding-bottom: 30px;
}

aside form {
  border: 1px solid #898989;
  padding: 20px;
}

aside form * {
  display: block;
  width: 100%;
  padding: 5px 0px;
}

aside form button#submit {
  width: 50%;
  margin: 20px 0 0 0;
  padding: 10px 0;
  border: none;
  background: #d3135a;
  color: white;
  letter-spacing: 3px;
}

button#submit:focus {
  border: none;
}

aside textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.highlights {
  column-count: 3;
  background: #cccccc;
  padding: 30px 30px;
}

footer {
  background: #666666;
}

h1#footer-brand-name {
  color: #ffffff;
  float: right;
  margin-top: 25px;
}

div.footer-info {
  display: inline-block;
  padding-top: 15px;
  color: #afafaf;
  font-size: 12px;
  width: 85%;
}

ul.footer-links {
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 154px;
  z-index: 1;
  margin-left: -40%;
}

.dropdown-menu a {
  background: #4d4d4d;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 10pt;
}

div.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #4d4d4d;
  margin-left: 42%;
  background: transparent;
}

.dropdown-menu a:hover {
  background: #666666;
}

.dropdown-menu div.arrow-:hover {
  background: #4d4d4d;
}

li.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 1000px) {
  aside {
    padding-top: 30px;
    float: none;
    max-width: 100%;
  }
  section {
    max-width: 100%;
  }
  div.footer-info {
    max-width: 80%;
  }
}

@media (max-width: 850px) {
  div.brand-name {
    display: inline-block;
  }
  nav.main-links {
    float: none;
    display: inline-block;
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  div.footer-info {
    max-width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */